*~
/Desktop
/Documents
/Downloads
/etc
/gits
/.ssh
/.gitconfig
/.bash_history
/.cache
/.emacs.d
/.Xauthority
/.sudo_as_admin_successful
/.xsession-errors*
/.local/*
!/.local/share/file-manager/actions
/.config/*
!/.config/lxterminal
!/.config/pcmanfm
!/.config/rpcc
!/.config/user-dirs.dirs
!/.config/wf-panel-pi

